<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aula JavaScript</title>
</head>
<body>
    <form>
        <label for="nome">Nome</label>
        <input type="text" id="nome" name="nome">
        <label for="senha">Senha</label>
        <input type="password" id="senha" name="password">
        <button id="botao" onclick="retornabotao()" type="button">Entrar</button>
    </form>
    <script src="../../assets/js/index.js"></script>
</body>
</html>